<h1>Number of times the button is clicked :- {{clickCount}}</h1>
<button (click)="onClick()" class='button'>Increment</button>
<br>

<p><input #box (keyup)="onKeyByValue(box.value)">
   <br>
   {{textBoxValue}}
   <br>
   <button (click)="resetTextValue(box)" class="button">Reset</button>
   <br>
   Using ref name of text box :- {{box.value}}
</p>

<p>
    <input #box_enter (blur)="onKeyEnter(box_enter.value)" (keyup.enter)="onKeyEnter(box_enter.value)"/>
    <br>
    {{keyEnterValue}}
</p>

<br>
  <input #str />
  <br>
  <button (click)="addString(str.value)" >Add String</button>
  <ol *ngIf="listOfStrings.length > 0">
     <li *ngFor="let s of listOfStrings">{{s}}</li> 
  </ol>
